$b: '.bb-group-field';

#{$b} {
    // .bb-group-field__inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 12px;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid gray;
    }
}